* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    @extend %margANDpadd;
    list-style: none;
}

button {
    background: none;
    border: 0;
}

%margANDpadd {
    margin: 0;
    padding: 0;
}

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@for $i from 1 through 6 {
    h#{$i} {
        @extend %margANDpadd;
        font-weight: 100;
    }
}

div,
span {
    clear: both;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}